/* src/components/NavBar.css */
.navbar { 
    flex: 0 0 15%; /* 15% width for the nav */
    padding: 20px;
    background-color: #42c9ff;
    width: 120px; 
    height: auto;
  } 

  nav ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove default padding */
    margin: 30px; /* Remove default margin */
    width: 200px; /* Set a width for the vertical nav */
  }
  
  nav li {
    margin: 20px 0; /* Space out list items */
  } 


  
  nav a {
    text-decoration: none; /* Remove underline from links */
    color: #333; /* Link color */
    font-weight: bold; 
    text-align: center; 
    display: flex; /* Use flexbox to align icon and text */
  } 

  .fa-icon {
    margin-right: 10px; /* Space between icon and text */
    display: inline-block; /* Ensure the icon is inline with the text */
  } 



 nav a:hover, /* link text */
 nav a:hover .fa-icon {    /* icon */
  color: #0a1cc6; /* Set the hover color */
}


  /* .active {
    background-color: #99e2ff; 
    height: 30px; 
    padding: 10px 10px 10px 10px;

  } */
  